@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  scrollbar-width: thin;
}

body {
  @apply bg-gray-950 
}

@theme {
  --color-brown-100: #fdfbf9;
  --color-brown-200: #fbeede;
  --color-brown-300: #f2d0a8;
  --color-brown-400: #e6b57a;
  --color-brown-500: #c48d4c;
  --color-brown-600: #553813;
}

